/* base styles , things that dont change depending on the size as buttons, input field*/
* {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

.login {
  margin-top: 7em;
}

.logo {
  display: block;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.click-button {
  display: flex;
  flex-direction: column;
  margin-top: 7em;
  margin-left: 3%;
  margin-right: 3%;
}
button {
  background-color: #6b6b6b;
  color: white;
  height: 50px;
  width: auto;
  border-radius: 10px;
  border: none;
}
button:first-of-type {
  margin-bottom: 15px;
}

.click-button button:hover,
.click-button button:active {
  background-color: #20677c;
}

button:click {
  background-color: #20677c;
}
/* fonts */
h1 {
  text-align: center;
  font-size: 2.8em;
  font-family: 'Karla', sans-serif;
  margin-top: -0.1px;
}

h2 {
  text-align: center;
  font-family: 'Karla', sans-serif;
  color: #6b6b6b;
  font-weight: 100;
  margin-top: -30px;
}

.para {
  margin-top: 7em;
  text-align: center;
}

p:first-of-type {
  color: #6b6b6b;
  font-weight: 600;
  font-size: 1em;
}
p:last-of-type {
  color: #6b6b6b;
  font-family: arial;
  margin-left: 10%;
  margin-right: 10%;
}

/* mobile styles */
.logo-main {
  display: block;
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}
.main {
  display: flex;
  flex-direction: column;
}
.main .top {
  display: flex;
  width: 100%;
  height: 3em;
  margin-top: 3em;
}
.top .logo-main {
  position: absolute;
  left: 15px;
}
.top h2 {
  position: absolute;
  left: 52px;
  top: 87px;
  font-size: 22px;
  letter-spacing: -2.5px;
}
.top .icon {
  position: absolute;
  right: -5px;
}

input.search-box {
  width: 97%;
  height: 30px;
  border-radius: 8px;
  background-color: #c5bfbf;
  margin-left: 6px;
  border: none;
  text-align: center;
}
.icon-search {
  position: absolute;
  top: 6.8em;
}
.placeholder {
  position: absolute;
  left: 3em;
  top: 6.9em;
}
.search-box:focus ~ .placeholder,
.search-box:valid ~ .placeholder {
  display: none;
}
.dropdown {
  display: flex;
  justify-content: flex-start;
  margin-top: 1em;
}
.dropbtn {
  color: rgb(37, 36, 36);
  width: 120px;
  height: 25px;
  margin-left: 10px;
  background-color: #00aec7;
  text-indent: -1em;
}

.span1-loc {
  position: relative;
  right: -12px;
}
.span-loc {
  position: relative;
  right: -25px;
}

.footer-menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-top: 2.5px solid #6b6b6b;
  height: 3em;
  position: fixed;
  bottom: 0;
  margin-left: -5px;
  background-color: white;
}

.logo-menu {
  height: 2em;
  width: 2.5em;
  margin-top: 5px;
}

.logo-menu:hover,
.logo-menu:active {
  background-color: #20677c;
  opacity: 0.5;
}

.logo-menu:click {
  background-color: #20677c;
  opacity: 0.5;
}
li {
  list-style: none;
}

/* all products  */
.product {
  margin-bottom: 3em;
}
.product-card {
  display: flex;
  width: 100%;
  margin-left: -2em;
  height: 9.5em;
  margin-bottom: 0.9em;
  box-shadow: 8px 0 8px rgb(187, 185, 185);
}

.image-container {
  width: 150px;
}
.product-card img {
  height: 110px;
  width: 130px;
  margin-top: 0.5em;
}

.product-card .info p {
  text-align: left;
  margin-bottom: -8px;
  font-weight: normal;
  color: rgb(117, 115, 115);
}
.info p span {
  color: #00aec7;
  margin-right: 0.3em;
}
.info p:nth-of-type(3) span::after {
  content: '\a';
  white-space: pre;
}
.info p:last-of-type {
  margin-left: -0.1em;
}

.product-card:hover {
  background-color: rgb(245, 240, 240);
  border-left: 1px solid rgb(245, 240, 240);
}
.product-card:click,
.product-card:active {
  background-color: rgb(245, 240, 240);
  border-left: 1px solid rgb(245, 240, 240);
}

/* single product cart */
.singleproduct {
  display: flex;
  flex-direction: column;
}
.singleproduct-head {
  display: flex;
  margin-top: 3em;
  height: 30px;
  margin-bottom: 20px;
}
.singleproduct-head p {
  font-size: 20px;
  position: absolute;
  left: 1.6em;
  top: 2em;
  font-weight: normal;
}
.product-card.single {
  margin-left: 1em;
  width: 92%;
}

.single-menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.single-menu div {
  font-weight: normal;
  color: #6b6b6b;
  border-bottom: 2px solid rgb(197, 193, 193);
  width: 33.33%;
}
.single-menu div:first-of-type {
  padding-left: 40px;
}
.single-menu div:nth-of-type(2) {
  padding-left: 12px;
}
.single-menu div:last-of-type {
  padding-left: 20px;
}
h3 {
  font-weight: normal;
}

.single-menu div:hover,
.single-menu div:active {
  border-bottom: 2px solid #00aec7;
}

.single-electronics {
  display: flex;
  flex-direction: column;
}
.single-electronics .title {
  background-color: rgb(209, 207, 207);
  width: 100%;
  height: 30px;
  margin-top: 2em;
}
.single-electronics .title p {
  position: relative;
  top: -0.5em;
  left: -1.2em;
  font-weight: normal;
}
.single-stats {
  display: flex;
  border-bottom: 2px solid rgb(197, 190, 190);
}
.single-stats .temp {
  width: 50%;
}
.single-stats .hour {
  width: 50%;
}
.single-stats button {
  border: 0;
  border-radius: 0;
  width: 120px;
  margin-top: 10px;
  margin-left: 2em;
  background-color: #a3e4ee;
  color: rgb(134, 129, 129);
  font-size: 16px;
}
.single-stats p {
  margin-left: 3em;
  margin-top: -5px;
  font-weight: normal;
  font-size: 14px;
}

.single-char .title {
  background-color: rgb(209, 207, 207);
  width: 100%;
  height: 30px;
  margin-top: -0.4em;
}
.single-char .title p {
  position: relative;
  top: 0.4em;
  left: -1.2em;
  font-weight: normal;
}

.char-info p span {
  color: #00aec7;
  margin-right: 0.3em;
  font-weight: normal;
}
.char-info p {
  font-weight: normal;
  color: rgb(99, 97, 97);
}
.char-info p:last-of-type {
  margin-left: -0.1em;
}

.single-chart .title {
  background-color: rgb(209, 207, 207);
  width: 100%;
  height: 30px;
  margin-top: -0.4em;
}
.single-chart .title p {
  position: relative;
  top: 0.4em;
  left: -1.2em;
  font-weight: normal;
}
.single-chart .time {
  display: flex;
  justify-content: space-around;
}
.single-chart .time button {
  border: 0;
  border-radius: 5px;
  width: 6em;
  height: 30px;
  margin-bottom: 5em;
  margin-left: 1.6em;
  background-color: #a3e4ee;
  color: rgb(134, 129, 129);
  font-size: 0.9em;
}

/* small tablets styles */
@media screen and (min-width: 620px) {
}
/* large tablets and laptops */
@media screen and (min-width: 960px) {
}
/* desktops styles */
@media screen and (min-width: 1200px) {
}
