/* base styles , things that dont change depending on the size as buttons, input field*/
* {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

.login {
  margin-top: 7em;
}

.logo {
  display: block;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.click-button {
  display: flex;
  flex-direction: column;
  margin-top: 7em;
  margin-left: 3%;
  margin-right: 3%;
}
button {
  background-color: #6b6b6b;
  color: white;
  height: 50px;
  width: auto;
  border-radius: 10px;
  border: none;
}
button:first-of-type {
  margin-bottom: 15px;
}

.click-button button:hover,
.click-button button:active {
  background-color: #20677c;
}

button:click {
  background-color: #20677c;
}
/* fonts */
h1 {
  text-align: center;
  font-size: 2.8em;
  font-family: 'Karla', sans-serif;
  margin-top: -0.1px;
}

h2 {
  text-align: center;
  font-family: 'Karla', sans-serif;
  color: #6b6b6b;
  font-weight: 100;
  margin-top: -30px;
}

.para {
  margin-top: 7em;
  text-align: center;
}

p:first-of-type {
  color: #6b6b6b;
  font-weight: 600;
  font-size: 1em;
}
p:last-of-type {
  color: #6b6b6b;
  font-family: arial;
  margin-left: 10%;
  margin-right: 10%;
}

/* mobile styles */
.logo-main {
  display: block;
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}
.main {
  display: flex;
  flex-direction: column;
}
.main .top {
  display: flex;
  width: 100%;
  height: 3em;
  margin-top: 3em;
}
.top .logo-main {
  position: absolute;
  left: 15px;
}
.top h2 {
  position: absolute;
  left: 52px;
  top: 87px;
  font-size: 22px;
  letter-spacing: -2.5px;
}
.top .icon {
  position: absolute;
  right: -5px;
}

input.search-box {
  width: 97%;
  height: 30px;
  border-radius: 8px;
  background-color: #c5bfbf;
  margin-left: 6px;
  border: none;
  text-align: center;
}
.icon-search {
  position: absolute;
  top: 6.8em;
}
.placeholder {
  position: absolute;
  left: 3em;
  top: 6.9em;
}
.search-box:focus ~ .placeholder,
.search-box:valid ~ .placeholder {
  display: none;
}
.dropdown {
  display: flex;
  justify-content: flex-start;
  margin-top: 1em;
}
.dropbtn {
  color: rgb(37, 36, 36);
  width: 140px;
  height: 25px;
  margin-left: 10px;
  background-color: #00aec7;
  text-indent: -2em;
}

.span1-loc {
  position: relative;
  right: -30px;
}
.span-loc {
  position: relative;
  right: -40px;
}
/* small tablets styles */
@media screen and (min-width: 620px) {
}
/* large tablets and laptops */
@media screen and (min-width: 960px) {
}
/* desktops styles */
@media screen and (min-width: 1200px) {
}
